.navbar-custom {
    background-color: #d2ede3;
}

.navbar li a {
    color: black;
    font-size: larger;
}

.hero {
    background-color: #d2ede3;
    padding-top: 110px;
}


.hero span.satu {
    color: #26653F;
    font-weight: 700;
}

.hero span.dua {
    color: #212020;
    font-weight: 400;
    font-size: 30px;

}

.hero span.tiga {
    font-weight: 700;
}

.hero span.empat {
    color: #212020;
    font-size: 30px;
    font-weight: 400;
}

.hero span.lima {
    font-weight: 700;
}

.hero button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #007958;
    border: 1px solid #007958;
    color: #fff;
    font-weight: bold;
}

.hero button:hover {
    background-color: #1aca9b;
    border: 1px solid #1aca9b;
}

.hero img {
    background-size: 70%;
    border-radius: 40%;
}

.info {
    margin-top: -100px;
}

.info p {
    font-size: 18px;
    font-weight: 600;
}

.info h1 span.satu {
    color: #26653F;
}

.info h1 span.dua {
    color: #007958;
}

.info h1 span.tiga {
    color: #67D69D;
}

.info-des h2 {
    font-size: 30px;
}

.info-des h2 span {
    color: #007958;
    font-size: 40px;
    font-weight: 700;
}

.info-des .level .img-level img {
    width: 100px;
}

.info-des .img-line {
    width: 100%;
}


.stats h2 {
    color: #0A6835;
    font-size: 30px;
    font-weight: 600;
}

.stats img {
    width: 50%;
}

.stats .stats-des {
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 20px;
    height: 50%;
}

.stats .stats-des h5 {
    color: #0A6835;
}

.konsultasi h3 {
    color: #0A6835;
}

.konsultasi h3 span {
    color: #0A6835;
    font-weight: 700;
}


.konsultasi .konsul-des {
    text-align: center;
    max-width: 600px;
    /* background-color: #1aca9b; */
}

.konsultasi {
    margin: 100px 0;
}

.konsultasi button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #007958;
    border: 1px solid #007958;
    color: #fff;
    font-weight: bold;
}

.konsultasi button:hover {
    background-color: #1aca9b;
    border: 1px solid #1aca9b;
}

.konsultasi .info {
    max-width: 500px;
    margin-top: 200px;
}


footer {
    background-color: #007958;
}







/* @media (max-width: 768px) {
    body {
        background-color: lightcoral;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: lightgreen;
    }
} */


@media (min-width: 768px) {

    .hero span.satu {
        color: #26653F;
        font-weight: 700;
        font-size: 55px;
    }

    .hero span.dua {
        color: #212020;
        font-weight: 400;
        font-size: 30px;
    }

    .hero span.tiga {
        font-weight: 700;
    }

    .hero span.empat {
        color: #212020;
        font-size: 30px;
        font-weight: 400;
    }

    .hero span.lima {
        font-weight: 700;
    }

    .info h1 {
        font-size: 45px;
    }




    .info-des .level .img-level img {
        width: 150px;
    }


}